name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies and kernel
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install nbconvert ipykernel
          python -m ipykernel install --user --name python3 --display-name "Python 3"

      - name: Run Jupyter Notebook
        run: |
          jupyter nbconvert --execute --to notebook --inplace main.ipynb
